<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Psychbuddy Admin Panel</title>
        <link rel="icon" type="image/png" href="{% static 'img/psychbuddy.png' %}">
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    </head>
    <body>
        <div class="adminflexbar">
            <div class="leftSidebar">
                <h2>Psychbuddy Admin Dashboard</h2>
                <p>Welcome Back GT!</p>
                <ul>
                    <a href="usersNav"><li>Users</li></a>  
                    <a href="manageResources"><li>Resources Management</li></a>
                    <a href="admintips"><li>Tips</li></a>
                    <a href="adminforum"><li>Community Forum</li></a>
                    <a href="appointmentmail"><li>Appointment</li></a>
                    <a href="feedbackinfo"><li>Feedback</li></a>
                    <a href="adminlogout"><li>Logout</li></a>
                    </ul>
                <div class="creatorline">
                    <p>Crafted with &hearts; by GT</p>
                </div>
            </div>
            <div class="rightSidebar">
                <h2>Audio Resource Deletion Form</h2><br>
                <div class="myform">
                    <form name="deleteForm" action="delAudio" method="POST" onsubmit="return validate()">
                        {% csrf_token %}
                        <div class="formElements">
                            <label class="lbl">Audio Therapy Name:</label><br>
                            <input type="text" name="audioname" required><br>
                            <input type="submit" name="delete" value="Delete">
                        </div>
                    </form>
                </div>
            </div>
            <script>
                function validate() {
                    const audioName = document.forms["deleteForm"]["audioname"].value.trim();
                    const namePatt = /^[A-Za-z0-9\s\-_,.]{3,100}$/;
                    
                    if (!namePatt.test(audioName)) {
                        alert("Audio Therapy Name must be between 3 and 100 characters and can only include alphanumeric and common symbols.");
                        return false;
                    }
                    return true;
                }
            </script>
        </div>
    </body>
</html>
