<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psychbuddy Admin Panel</title>
    <link rel="icon" type="image/png" href="{% static 'img/psychbuddy.png' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="adminflexbar">
        <div class="leftSidebar">
            <h2>Psychbuddy Admin Dashboard</h2>
            <p>Welcome Back GT!</p>
            <ul>
                <a href="usersNav"><li>Users</li></a>  
                <a href="manageResources"><li>Resources Management</li></a>
                <a href="admintips"><li>Tips</li></a>
                <a href="adminforum"><li>Community Forum</li></a>
                <a href="appointmentmail"><li>Appointment</li></a>
                <a href="feedbackinfo"><li>Feedback</li></a>
                <a href="adminlogout"><li>Logout</li></a>
                </ul>
            <div class="creatorline">
                <p>Crafted with &hearts; by GT</p>
            </div>
        </div>
        <div class="rightSidebar">
            <h2 onclick="showYoga()">Yoga</h2>
            <h2 onclick="showMeditation()">Meditation</h2>
            <div class="myform" style="display: block;">
                <form name="uploadForm" action="yRes" method="POST" enctype="multipart/form-data" onsubmit="return validate()">
                    {% csrf_token %}
                    <div class="formElements">
                        <label class="lbl">Yoga Therapy Name:</label><br>
                        <input type="text" name="yname" required><br>
                        <label class="lbl">Yoga Therapy Steps:</label><br>
                        <textarea name="steps"></textarea><br>
                        <label class="lbl">Yoga Therapy Image:</label><br>
                        <input type="file" name="yimgpath" required><br>
                        <label class="lbl">Yoga Therapy Benefits:</label><br>
                        <textarea name="ydesc" required></textarea><br>
                        <input type="submit" name="upload" value="Upload">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function validate() {
            const yName = document.forms["uploadForm"]["yname"].value.trim();
            const yImgFile = document.forms["uploadForm"]["yimgpath"].value.trim();
            const yDesc = document.forms["uploadForm"]["ydesc"].value.trim();
            const ySteps = document.forms["uploadForm"]["steps"].value.trim();
            const namePatt = /^[A-Za-z0-9\s\-_,.]{3,100}$/;
            const imgFilePatt = /\.(jpg|jpeg|png|webp)$/i;
            const descPatt = /^[a-zA-Z0-9%*.+\-!@#$&?\s]{20,1000}$/;

            if (!namePatt.test(yName)) {
                alert("Yoga Therapy Name must be between 3 and 100 characters and can only include alphanumeric and common symbols.");
                return false;
            }
            if (!imgFilePatt.test(yImgFile)) {
                alert("Please upload a valid image file (jpg, jpeg, webp, png).");
                return false;
            }
            if (!descPatt.test(yDesc)) {
                alert("Yoga Therapy Description must be between 20 and 1000 characters.");
                return false;
            }
            if (!descPatt.test(ySteps)){
                alert('Yoga Therapy steps must be between 20 and 1000 characters.');
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
